body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 30px;
}

.orange-color {
    color: orange;
}

h3 {
    font-size: 10pxpx;
    line-height: 5px;

}

section {
    display: flex;
}

.photo-size {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
}

.half-width {
    width: 50%;
}

.half-width imag {
    width: 100%;
}

#margin-center {
    margin-left: 100px;
    margin-top: 200px;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(violet, red);
    padding: 10px 40px;
    border-radius: 30px;
    line-height: 80px;
}

.picture-size {
    max-width: 45%;
    height: auto;
    margin-left: 200px;
    margin-top: 40px;
}

.paragra {
    margin-right: 150px;
}

#about-me {
    margin-top: 200px;
}

.background-image {
    background-image: url(images/shapes/7.png);
    width: 1300px;
    height: 500px;
    margin-top: 150px;
}